{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home Mypage</title>
  </head>
  <body class="text-white bg-blue-500">
    <h1>Myblog start</h1>
    <p class="text-xl">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. A ratione neque
      error sit maiores. Ut maiores et, mollitia aspernatur doloribus, enim
      libero magni laboriosam corrupti facere hic omnis distinctio aliquam.
    </p>
  </body>
</html>
